<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".presentation.ConfigurationActivity"
            android:exported="true"
            android:launchMode="singleTask" />
    </application>

</manifest>
